<app-menu></app-menu>
<div class="login-form">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header">TeamInfo Details</div>
                  <div class="card-body">
                      <form>
                          <div class="form-group row">
                                <label for="teammembers" class="col-md-4 col-form-label text-md-right">Select the Member</label>
                                <div class="col-md-6">
                                <select class="form-select" id="teammembers" (change)="onMemberSelected()">
                                  <option selected value="0">Choose Team Member</option>
                                </select>
                                </div>
                          </div>

                          <div class="form-group row mt-2">
                            <label for="dateofjoin">Member Information</label>
                            <textarea class="form-control mt-2" id="dateofjoin" rows="3"></textarea>
                          </div>
                          
                          <div class="form-group row mt-4">
                              <div class="col-md-6">                              
                                  <button class="btn btn-primary" [routerLink]="['/menu']" routerLinkActive="router-link-active" >Go Menu</button>
                              </div>
                              <div class="col-md-6">
                                <button class="btn btn-primary" [routerLink]="['/home']">Go Home</button>
                              </div>
                          </div>
                      </form>
                     
                  </div>              
              </div>
          </div>
      </div>
  </div>
  </div>